body {
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Shadows Into Light', cursive; */
.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
}

@keyframes slide {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }

    25% {
        transform: rotate(20deg);
        left: 0px;
        background:
    }

    50% {
        transform: rotate(0deg);
        left: 800px;
    }

    55% {
        transform: rotate(0deg);
        left: 800px;
    }

    70% {
        transform: rotate(0deg);
        left: 800px;
    }

    100% {
        transform: rotate(-360deg);
        left: 0px;
    }
}

.btn {
    position: relative;
    width: max-content;
    padding: .2em 1.5em;
    margin-top: 2rem;
    border: none;
    outline: none;
    border: .4rem solid black;
    border-radius: 5000px;
    background: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.15rem;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    scale: 1.1;
    background: black;
    color: white;
    border-color: #ffc600;
    opacity: .75;
}

.title-holder {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 4rem;
    text-transform: uppercase;
    position: relative;
    animation: slide 5s 1;
    width: max-content;
    z-index: 2;
    
}

h2 {
    font-size: 4rem;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-top: 4.5rem;
}

h3 {
    letter-spacing: 2px;
    font-family: 'shadows Into Light', cursive;
}

.letter-1 {
    color: orange;
    font-size: 8rem;

}

.letter-2 {
    color: olive;
}

.letter-3 {
    color: burlywood;
    font-size: 5.5rem;

}

.letter-4 {
    color: royalblue;
}

.letter-5 {
    color: firebrick;
}

.letter-6 {
    color: slateblue;
    font-size: 6rem;
}

.letter-7 {
    color: mediumseagreen;
}

.letter-8 {
    color: cadetblue;
}

.letter-9 {
    color: orchid;
    font-size: 6rem;
}

.letter-10 {
    color: palevioletred;
}

.letter-11 {
    color: tomato;
    font-size: 7rem;
}

.letter-12 {
    color: crimson;
    font-size: 2.5rem;

}

.container-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 20%;
    width: max-content;
    height: max-content;
    padding: 2em;
    background: linear-gradient(90deg, hsla(50, 100%, 63%, 1) 0%, hsla(271, 100%, 55%, 1) 100%);
    border: 5px solid hsla(271, 100%, 55%, .25 );
    border-radius: 10px;
    filter: drop-shadow(.75em .75em .75em);
    margin-bottom: 3rem;
}

/* 
font-family: 'Mate SC', serif; 
font-family: 'Dancing Script', cursive; 
*/

label {
    font-family: 'Dancing Script', serif;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.artist-name {
    width: 15rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    font-size: 1.125rem;
    font-family: 'Shadows Into Light';
}

.lyrics-title {
    width: 15rem;
    letter-spacing: 2px;
    font-size: 1.125rem;
    font-family: 'Shadows Into Light';
}

.lyrics-area {
    display: flex;
    width: 60%;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(90deg, hsla(34, 100%, 84%, 1) 0%, hsla(67, 84%, 76%, 1) 53%, hsla(98, 94%, 79%, 1) 100%);
    margin-top: -13rem;
    min-height: 75px;
    filter: drop-shadow(.75em .75em .75em);
    border-radius: 10px;
}

textarea {
    width: 70%;
    min-height: 350px;
    padding: 1em;
    background: linear-gradient(90deg, hsla(34, 100%, 84%, 1) 0%, hsla(67, 84%, 76%, 1) 53%, hsla(98, 94%, 79%, 1) 100%);
    color: black;
    font-weight:600;
    margin: 0;
}

textarea:focus-visible {
    outline-color: hsla(50, 100%, 63%, 1);
}

